#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background: dodgerblue;
  width: 100%;
}

.App-container {
  max-width: 380px;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
}

.App-container > h2 {
  color: black;
}

.Btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.Btn-wrapper button {
  background: rgb(214, 209, 209);
}

.Btn-wrapper > .count-btn {
  background: rgb(61, 245, 61);
}

.Btn-wrapper > .reset-btn {
  background: rgb(247, 131, 110);
}